.contentCard{
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2px;
  border: 5px solid transparent;
  border-radius: 5px;
  &.edit{
    border: 5px solid rgba(200,200,200,.2);
  }
  .delBtn{
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 5px;
    background: #ffffff;
    font-size: 20px;
    border-radius: 50%;
    color: rgba(200,200,200,.4);
  }
  .contentTitle{
    height: 50px;
    background: #cccccc;
    line-height: 50px;
    padding: 10px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .settingBtn{
      cursor: pointer;
    }
    span{
      display: inline-block;
      border-left: 5px solid #096dd9;
      padding-left: 8px;
      font-size: 16px;
      line-height: 20px;
      height: 20px;
    }
  }
  .content{
    flex-shrink: 1;
    flex-grow: 1;
    background: #8cc8ff;
    cursor: default;
    border: 1px solid #cccccc;
  }
  .reSizeSE{
    height: 8px;
    width: 8px;
    cursor: se-resize;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  .reSizeSW{
    height: 8px;
    width: 8px;
    cursor: sw-resize;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}