.contentAreaWrap{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  .contralBar{
    height: 50px;
    width: 300px;
    border-bottom: 1px solid #cccccc;
    background: #cccccc;
    position: fixed;
    top: 88px;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px 0 0 25px;
    z-index: 10;
    .btn{
      font-size: 20px;
    }
  }
  .editBtn{
    height: 20px;
    width: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 102px;
    right: 39px;
  }
}