.menuWrap{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .menu{
    overflow: auto;
    padding-bottom: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    .menuTitle{
      position: relative;
      .delBtn{
        position: absolute;
        top: -5px;
        color:red;
      }
    }
  }
  .editMenu{
    background: #000C17;
    width: 100%;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding-right: 12px;
    .contralBtn{
      .btn{
        padding: 0 5px;
      }
    }
  }
}
.ant-switch{
  background: #cccccc;
}
.ant-switch-checked {
  background-color: #1890ff;
}
